/*Global Styles */
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background: #05998c;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.Logo {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

/* Navbar styling */
.navbar {
    list-style: none;
    display: flex;
    gap: 15px;
}

/* Navbar links styling */
.navbar li a {
    color: azure;
    text-decoration: none;
    padding: 10px;
}

.navbar li a.active,
.navbar li a:hover {
    background: rgb(255, 255, 255);
    color: rgb(11, 63, 236);
    border-radius: 5px;
}

/* Menu Toggle Icon (Hamburger) */
.menu-icon {
    display: flex;
    cursor: pointer;
    font-size: 30px;
    color: azure;
}

/* Visible Checkbox that controls the visibility of the menu */
#menu-toggle {
    display: flex;
}

#menu-toggle:checked + .menu-icon + .navbar {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background: #05998c;
    padding: 10px 0;
    text-align: center;
}

.navbar{
    list-style: none;
    display: flex;
    gap: 15px;
}

.navbar li a {
    padding: 15px;
    display: block;
    width: 100%;
    text-align: center;
}

/* Ensure that the menu icon is displayed only on smaller screens */
@media (max-width: 768px) {
    .menu-icon {
        display: block; /* Show the hamburger icon on small screens */
    }
}

/* Section Styles */
section {
    background-color: #eaf6fb;
    margin-left: 0%;
    margin-right: 0%;
}

section .section-content h3 {
    color: rgb(0, 0, 0);
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

section .section-content p {
    margin-left: 25px;
    margin-right: 25px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

section img {
    height: 500px;
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Footer Styling */
footer {
    background: #05998c;
    color: azure;
    padding: 1px;
    text-align: center;
}

.footer-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1px;
}

.footer-col h4 {
    margin-bottom: 1px;
    font-size: 30px;
}

.footer-col ul {
    font-size: 20px;
    list-style: none;
    padding: 0;
}

.footer-col ul li a {
    text-decoration: none;
    color: black;
}

.footer-col ul li a:hover {
    color: white;
}
